html
    head   
        style
        script(src="a.js")
        link(href="jade.css",ref="stylesheet")
        script alert('abc')
    body
        header#header
            h1(id="logo", class="logo header-logo")
            nav(class=['nav','main-nav'])
                ul
                    li
                        a(href="/") 首页
                    li
                        a(href="/product") 产品
                    li
                        a(href="/concat") 联系方式 
        section.box
            h2.title
            form(action="a.ph")
                input(type="text",id="username",name="username")
                input(type="text", id="password",name="password")

            div&attributes({title: '这是标题', id:'good'}) 
                span 年后
                strong 午后
             
        footer
            p(style="width:300px;height:300px;background:red")
                span(style= {width: '200px', height: '200px', 'background': 'blue'}) 中华人民共和国
                    strong 国家
        script  